---
layout: default
---
{%- include faq-schema.html -%}
<main id="main-content" class="pg">
  <div class="hp-wrap">
    {%- include breadcrumbs.html -%}
    <header class="pg-head pg-narrow">
      <h1>{% if page.heading %}{{ page.heading }}{% elsif page.title_key %}{% include translate.html key=page.title_key %}{% else %}{{ page.title | escape }}{% endif %}</h1>
      {%- if page.intro %}<p class="pg-intro">{{ page.intro }}</p>{% endif -%}
    </header>
    <div class="pg-body">
      <div class="pg-narrow">{{ content }}</div>
    </div>
  </div>
</main>
